*.log
*.map

node_modules
public
coverage
/packages/app/src/translations/extracted
/packages/app/extracted
.DS_Store
.idea
__compiled__
tmp
*.sublime-workspace
*.sublime-project
*.retry
test*.xml
*.local.*
.vscode
storybook-static
compiled
.cache
